@import 'node_modules/bootstrap/scss/bootstrap';

$es-primary: #05cc7c;
$es-dark: #181934;
$es-white: #ffffff;
$es-black: black;
$es-second_dark: #212047;
$es-second_dark_2: #26235e;
$es-secundary: #4251ff;
$es-succes: #00ac4d;
$es-third_dark: #323387;
$es-fourth_dark: #191935;
$es-card-body: #142256;

.es-primary {
  color: $es-primary;
}

.es-succes {
  color: $es-succes;
}

.fs_10 {
  font-size: .8rem;
}

.fs_8 {
  font-size: .9rem;

}

/* consiglio l'utilizzo di questa max-width per come è strutturato il design della pagina */
.mw_1180 {
  max-width: 940px;
}

img {
  width: 100%;
}


/* buttons */
.es_button {
  background-color: $es-primary;
  color: $es-second_dark;
  padding: .6rem 2rem;
  transition: .4s;

  &:hover {
    background-color: $es-second_dark;
    color: $es-primary;
    border: 1px solid $es-primary;
  }
}

/* circle icon */
/* aggiungi p-2 alla svg con bs */
.circle_icon_light {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $es-white;
  color: $es-secundary;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;

  &:hover {
    color: $es-white;
    background-color: $es-primary;
  }
}

.circle_icon_dark {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: $es-second_dark;
  color: $es-white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;

  &:hover {
    background-color: $es-primary;
  }
}

/* aggiungi p-2 alla svg */
.circle_icon_success {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: $es-succes;
  color: $es-dark;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* /circle icon */