@use '../app.scss' as *;


/* CSS PER MAIN */
.black_bg {
    background-color: rgba(0, 0, 0, 0.364);
    width: 100%;
}

/* #company */
#company {
    background-color: $es-dark;
    width: 100%;

    .square_check {
        width: 1.5rem;
        height: 1.5rem;
        background-color: $es-dark;
        color: $es-succes;
        border: 1px solid $es-succes;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* /#company */


/* #arena */
#arena {
    background-color: $es-second_dark_2;
    width: 100%;
    background-image: url(../../../../src/assets/img/Vector.png);
    background-size: cover;
    background-position: right;

    .card {
        border-radius: 30px;
        padding: 2rem 1rem;

        .circle {
            border-radius: 50%;
            width: 4.5rem;
            aspect-ratio: 1/1;
            background-color: $es-second_dark;
            padding: 1rem;
            margin-bottom: 10px;
        }
    }

    .green_card {
        background-color: $es-primary;
        color: $es-second_dark;
        transition: .5s;

        &:hover {
            background-color: $es-third_dark;
            color: $es-white;
        }
    }

    .dark_card {
        background-color: $es-third_dark;
        color: $es-white;
        transition: .5s;

        &:hover {
            background-color: $es-primary;
            color: $es-second_dark;
        }
    }
}

/* /#arena */


/* #live */
#live {
    background-image: url(../../../../src/assets/img/v-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    #play_video {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 110px;
        left: 180px;
    }
}

/* /#live */


/* #match */
#match {
    background-color: $es-dark;
    width: 100%;


    .card_match {
        background-color: $es-second_dark;
        border: 1px solid $es-primary;
        border-radius: 15px;
        margin: .8rem 0;
        transition: .5s;

        .card {
            border-radius: 15px;
            background-color: $es-dark;
            border: none;
            width: 100%;
            color: white;


            .card-body {
                background-color: $es-card-body;
                border: none;
                border-end-end-radius: 15px;
                border-end-start-radius: 15px;

            }
        }

        &:hover {
            background-color: $es-third_dark;
            border: 1px solid $es-second_dark;

            .special {
                background-color: $es-primary;
            }

            .icon_card>div {
                color: white;
                background-color: $es-dark;
            }
        }

    }
}

/* /#match */


/* #choose */
#choose {
    background-color: $es-second_dark_2;
    width: 100%;
    background-image: url(../../../../src/assets/img/protfolio-vector.png);
    background-size: cover;
    background-position: right;

    .card {
        border: none;
        transition: .5s;

        &:hover .card-body {
            background-color: $es-primary;
        }

        .ticket {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $es-primary;
            padding: 4px 6px;
        }

        .card-body {
            background-color: $es-second_dark;
            transition: .5s;

        }

    }
}

/* /#choose */


/* ######## TEST ######## */
#test {
    background-color: $es-second_dark;
    width: 940px;
    height: 135px;
    position: absolute;
    bottom: -80px;
}

/* ######## TEST ######## */